body{
    background: url(media/fondo.jpg);
}

header{
    background: url(media/banner2.jpeg);
    background-size: cover;
}

article{
    background-color: black;
    color: white;
    padding: 5%;
    border: 1%;
    margin: 10%;
}

.text-end{
    margin: 0 auto;
}

aside{
    border-style: solid;
}

.miclase{
    color:aqua;
    text-align: center;

}

article{
    border-style: solid;
}

footer{
    background-color: gray;
}